:root {
    --radius: 15px;
    --border: 1px solid rgba(255, 255, 255, 0.2);
    --background: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, #5fb2ff, #47afb3);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    min-height: 100vh;
    font-size: 20px;
    color: white;
}

/* SEARCH-UNITS */
.search-units {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

input {
    height: 60px;
    width: 300px;
    border-radius: var(--radius);
    border: var(--border);
    background: var(--background);
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}

input::placeholder {
    color: white;
    font-weight: 400;
}

.units {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    border: var(--border);
    border-radius: var(--radius);
    width: 120px;
    height: 60px;
}

button {
    appearance: none;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: rgb(209, 207, 207);
    border: var(--border);
    border-radius: 50%;
}

/* add dynamic class when button clicked */
button.clicked {
    background-color: rgb(209, 207, 207);
}

/* TEMP-DETAILS */
.temp-details {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background: var(--background);
    border: var(--border);
    border-radius: var(--radius);
    
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#weather-icon{
    background-image: url(/src/assets/half-cloudy.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.details{
    line-height: 1.5;
}

.details p{
    font-size: 18px;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* added dynamically */
.right-side p{
    font-size: 90px;
    font-weight: bold;
    color: white;
}

/* HUM-WIND-VIS-PRESS */
.hum-wind-vis-press{
    display: grid;
    grid-template-columns: 100px, 100px;
    grid-template-rows: 100px, 100px;
    gap: 15px;
}

.wind{
    grid-column: 2/3;
}

.humidity,
.wind,
.visibility,
.pressure{
    background: var(--background);
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.humidity p:first-child,
.wind p:first-child,
.visibility p:first-child,
.pressure p:first-child{
    font-size: 16px;
    font-weight: bold;
}

.humidity p:nth-child(2),
.wind p:nth-child(2),
.visibility p:nth-child(2),
.pressure p:nth-child(2){
    font-size: 24px;
    font-weight: bold;
}


/* FORECAST */
.forecast{
    background: var(--background);
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.days{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.days-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* icon added dynamically */
#icon{
    background-image: url(/src/assets/half-cloudy.png);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
}

.days-item p:last-child{
    font-size: 16px;
    font-weight: 300;
}